# Files as a result of compilation
*.slo
*.lo
*.o
*.pdb
*.so
*.dylib
*.lai
*.la
*.a
*.obj
*.d
*.log
*.tlog
*.exe

# Project files
Makefile
*.sln
*.opensdf
*.suo
*.filters
*.user
*.sdf
*.vcxproj
*.make